doctype html
html(lang="en")
	head
		//- meta(name="robots",content="noindex, nofollow")
		title New Page
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui")
		//- link(rel="shortcut icon",href="/favicon.ico")

		style.
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				outline: none;
			}
			body {
				overflow: hidden;
			}
			html,
			body,
			#view {
				width: 100%;
				height: 100%;
			}
			#left {
				background: white;
				position: relative;
				width: 320px;
				height: 100%;
				float: left;
				overflow-y: auto;
			}
			#left img {
				width: 100%;
				height: auto;
			}
			#right {
				width: 64%;
				height: 100%;
				float: left;
			}
			#right iframe {
				width: 100%;
				height: 100%;
			}
			#print {
				width: 100%;
				height: 100%;
			}
			@media print {
				#left {
					display: none;
				}
				#right {
					width: 100%;
					height: auto;
				}
			}

	body#body

		#view
			#left
				.text
					| Suspendisse elementum fermentum consectetur
				.image
					img(src="http://placehold.it/1240x1620/F0F/FFF")
				.list
					ul
						li Some item
						li Another item
						li A third item
						li Number four
						li And five
				.text
					span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.
					span Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit.
					span Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor.
					span Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in.
					span Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis.
					span Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
				.image
					img(src="http://placehold.it/1420x1240/0FF/FFF")
				.title
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.
				.image
					img(src="http://placehold.it/1420x1240/00F/FFF")
				.text
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.

			#right
				#print
					section(data-id="1")
						.page.A4
							#header
								.header(data-removable="true")
									.title(data-item="kjhgkj")
										| Hejhej title
								.list
							#ingress
							#body
								.left_column
									.potential.texts(data-removable="true")
										.text(data-item="lacopacs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.texts(data-removable="true")
						.page.A4.removable
							#header
								.header(data-removable="true")
									.title(data-item="iuggvhjbkl")
										| Hejhej title
								.list
							#body
								.left_column
									.texts(data-removable="true")
										.text(data-item="lacopaugilhjcs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images(data-sortable="true",data-removable="true",data-class-list="left,right,middle")
										.image(data-item="56d654f654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="56kj5d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="asffaior8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
						.page.A4.removable
							#header
								.header(data-removable="true")
									.title(data-item="iugg54vhjbkl")
										| Hejhej title
								.list
							#body
								.left_column
									.texts(data-removable="true")
										.text(data-item="lacop5augilhjcs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images(data-sortable="true",data-removable="true",data-class-list="left,right,middle")
										.image(data-item="56d654f6654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="5658kj5d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="asffai64or8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
					section(data-id="2")
						.page.A4.removable
							#header
								.header(data-removable="true")
									.title(data-item="krjhgkj")
										| Hejhej title
								.list
							#body
								.left_column
									.texts(data-removable="true")
										.text(data-item="lacoppacs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images(data-sortable="true",data-removable="true",data-class-list="left,right,middle")
										.image(data-item="565645d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="56rdtdf654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="asffakkr8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
						.page.A4.removable
							#header
								.header(data-removable="true")
									.title(data-item="kjhhhjgkj")
										| Hejhej title
								.list
							#body
								.left_column
									.texts(data-removable="true")
										.text(data-item="lacfgcopacs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images(data-sortable="true",data-removable="true",data-class-list="left,right,middle")
										.image(data-item="56dfgh5d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="5dfh6df654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="a54sffar8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
		
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="../aPRINT.js")
	script.
		var print = aPRINT('#print',{
			format: 'A3',
			//- editable: false,
			styles: ['../aPRINT.css','main.css'],
			rules: {
				'.header': {
					accept: '#left .title',
					replace: true
				},
				'.list': {
					accept: '#left .list',
					replace: true
				},
				'.texts': {
					accept: '#left .text',
					overflow: 'continue',
					sortable: false
				},
				'#ingress': {
					accept: '#left .text',
					sortable: false
				},
				'.images': {
					accept: ['#left .image','#left .text'],
					overflow: 'shrinkLast',
					classes: ['left','middle','right']
				}
			}
		});
		print.on('update', function(e) {
			//- console.log(print.get());
		});