doctype html
html(lang="en")
	head
		//- meta(name="robots",content="noindex, nofollow")
		title New Page
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui")
		//- link(rel="shortcut icon",href="/favicon.ico")

		style.
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				outline: none;
			}
			body {
				overflow: hidden;
			}
			html,
			body,
			#view {
				width: 100%;
				height: 100%;
			}
			#left {
				background: white;
				position: relative;
				width: 320px;
				height: 100%;
				float: left;
				overflow-y: auto;
			}
			#left img {
				width: 100%;
				height: auto;
			}
			#right {
				width: 64%;
				height: 100%;
				float: left;
			}
			#right iframe {
				width: 100%;
				height: 100%;
			}
			#template {
				width: 100%;
				height: 100%;
			}
			#print {
				display: none;
				width: 100%;
				height: 100%;
			}
			@media print {
				#left {
					display: none;
				}
				#right {
					width: 100%;
					height: auto;
				}
			}

	body#body

		#view
			#left
				.text
					| Suspendisse elementum fermentum consectetur
				.image
					img(src="http://placehold.it/1240x1620/F0F/FFF")
				.list
					ul
						li Some item
						li Another item
						li A third item
						li Number four
						li And five
				.text
					span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.
					span Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit.
					span Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor.
					span Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in.
					span Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis.
					span Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
				.image
					img(src="http://placehold.it/1420x1240/0FF/FFF")
				.title
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.
				.image
					img(src="http://placehold.it/1420x1240/00F/FFF")
				.text
					p
						|«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video «Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun komplettiert – und zeigt auch diejenigen Airlines, welche am unteren Ende der Sicherheitsskala liegen. Welche Airlines am schlechtesten abgeschnitten haben, sehen Sie im Video.«Das Flugzeug ist das sicherste Verkehrsmittel der Welt.» Ein Satz, den vor allem Personen mit Flugangst immer und immer wieder zur Beruhigung vorgesetzt bekommen. Generell mag diese Aussage durchaus ihre Gültigkeit haben, für einige Fluggesellschaften sollte man sie aber nicht zu wörtlich nehmen. Nachdem das Jet Airliner Crash Data Evaluation Centre, kurz Jacdec, kürzlich bereits die sichersten grossen Airlines vorgestellt hat, wurde das Ranking nun
				.image
					img(src="http://placehold.it/1420x1240/00F/FFF")
				.text
					p
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius dui at blandit feugiat. Mauris sed sapien porttitor, auctor tellus at, congue arcu. Aliquam erat volutpat. Vivamus eget diam vestibulum, mollis urna ut, rhoncus eros. Aliquam semper lectus molestie, laoreet diam ac, venenatis neque. Phasellus pharetra mauris eget fermentum tempus. Sed id tempor augue. Maecenas ut vestibulum elit, id dignissim ipsum. Duis pellentesque dolor at maximus placerat. Sed iaculis tortor nec leo scelerisque, eget ultricies nibh interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

			#right
				#template
					//- <section><div data-template-identifier="first_page" class="page A4 first test odd"><div data-template-identifier="header_container" class="header_container"><div data-template-identifier="header" class="header uppercase border" data-removable="true" data-replaceable="true" data-drop-selector=".header" data-accept="#left .title"></div><div data-template-identifier="list" class="list border" data-removable="true" data-replaceable="true" data-drop-selector=".list" data-accept="#left .list"></div></div><div data-template-identifier="first_body" class="body"><div data-template-identifier="first_text_column" class="column one_third"><div data-template-identifier="first_texts" class="texts" data-removable="true" data-overflow="continue" data-drop-selector=".texts" data-accept="#left .text"></div></div><div data-template-identifier="first_image_column" class="column two_thirds"><div data-template-identifier="first_images" class="images" data-removable="true" data-class-list="left,middle,right" data-overflow="shrinkLast" data-drop-selector=".images" data-accept="#left .image,#left .text"><div class="image" data-item="ihsbls4tw50bms7cik9" data-image-number="1"><img src="http://placehold.it/1240x1620/F0F/FFF" draggable="false" style="-webkit-user-drag: none;"><div class="remove">&times;</div><div class="classes"><div class="expander">&bull;</div><div class="list" data-removable="true" data-replaceable="true" data-drop-selector=".list" data-accept="#left .list"><div class="item">none</div><div class="item">left</div><div class="item">middle</div><div class="item">right</div></div></div></div></div></div></div></div><div data-template-identifier="page" class="page A4 second even" data-repeatable="true"><div data-template-identifier="second_body" class="body seond"><div data-template-identifier="second_text_column" class="column one_third"><div data-template-identifier="second_texts" class="texts" data-removable="true" data-overflow="continue" data-drop-selector=".texts" data-accept="#left .text"></div></div><div data-template-identifier="second_image_column" class="column two_thirds"><div data-template-identifier="second_images" class="images" data-removable="true" data-class-list="left,middle,right" data-overflow="shrinkLast" data-drop-selector=".images" data-accept="#left .image,#left .text"><div class="text" data-item="otc6la6orb694sa714i"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur.</span><span>Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit.</span><span>Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor.</span><span>Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in.</span><span>Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis.</span><span>Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.</span><div class="remove">&times;</div><div class="classes"><div class="expander">&bull;</div><div class="list" data-removable="true" data-replaceable="true" data-drop-selector=".list" data-accept="#left .list"><div class="item">none</div><div class="item">left</div><div class="item">middle</div><div class="item">right</div></div></div></div></div></div></div><div class="add_page">+</div></div><div data-template-identifier="page" class="page A4 second odd" data-repeatable="true" data-removable="true"><div data-template-identifier="second_body" class="body seond"><div data-template-identifier="second_text_column" class="column one_third"><div data-template-identifier="second_texts" class="texts" data-removable="true" data-overflow="continue" data-drop-selector=".texts" data-accept="#left .text"></div></div><div data-template-identifier="second_image_column" class="column two_thirds"><div data-template-identifier="second_images" class="images" data-removable="true" data-class-list="left,middle,right" data-overflow="shrinkLast" data-drop-selector=".images" data-accept="#left .image,#left .text"><div class="image" data-item="5r4opnua9moaqt1emi" data-image-number="2"><img src="http://placehold.it/1420x1240/00F/FFF" draggable="false" style="-webkit-user-drag: none;"><div class="remove">&times;</div><div class="classes"><div class="expander">&bull;</div><div class="list" data-removable="true" data-replaceable="true" data-drop-selector=".list" data-accept="#left .list"><div class="item">none</div><div class="item">left</div><div class="item">middle</div><div class="item">right</div></div></div></div></div></div></div><div class="add_page">+</div><div class="remove">&times;</div></div></section>
				#print
					section(data-id="1")
						.page.A4.first
							#header
								.header()
									.title(data-item="kjhgkj")
										| Hejhej title
								.list
							#ingress
							#body
								.left_column
									.texts()
										.text(data-item="lacopacs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.texts()
						.page.A4
							#header
								.header()
									.title(data-item="iuggvhjbkl")
										| Hejhej title
								.list
							#body
								.left_column
									.texts()
										.text(data-item="lacopaugilhjcs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images
										.image(data-item="56d654f654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="56kj5d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="asffaior8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
						.page.A4
							#header
								.header()
									.title(data-item="iugg54vhjbkl")
										| Hejhej title
								.list
							#body
								.left_column
									.texts()
										.text(data-item="lacop5augilhjcs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images
										.image(data-item="56d654f6654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="5658kj5d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="asffai64or8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
					section(data-id="2")
						.page.A4
							#header
								.header()
									.title(data-item="krjhgkj")
										| Hejhej title
								.list
							#body
								.left_column
									.texts()
										.text(data-item="lacoppacs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images
										.image(data-item="565645d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="56rdtdf654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="asffakkr8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
						.page.A4
							#header
								.header()
									.title(data-item="kjhhhjgkj")
										| Hejhej title
								.list
							#body
								.left_column
									.texts()
										.text(data-item="lacfgcopacs")
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum fermentum consectetur. Aliquam feugiat quam elementum dui ullamcorper fermentum. Vestibulum diam purus, aliquam ac metus nec, porttitor porttitor elit. Aenean accumsan ut neque eu lobortis. Fusce eu risus gravida, auctor lacus quis, laoreet libero. Pellentesque eu quam ut dolor pretium semper sit amet nec tortor. Donec tincidunt convallis leo, non interdum leo cursus vitae. Quisque pretium augue dolor, sit amet eleifend enim dignissim in. Donec ut justo ut tortor congue consequat. Sed ac arcu egestas, fringilla mi sed, pharetra ipsum. Proin eu velit consectetur leo mollis lobortis. Vestibulum sapien sem, venenatis vel mauris sed, sagittis faucibus urna. Praesent nulla erat, vulputate in mattis sed, lacinia non erat. Sed fermentum cursus venenatis.
								.right_column
									.images
										.image(data-item="56dfgh5d65")
											img(src="http://placehold.it/1420x1240/0FF/FFF")
										.image(data-item="5dfh6df654fdg")
											img(src="http://placehold.it/2420x1400/FF0/000")
										.image(data-item="a54sffar8",style="opacity: 1; height: 24.0909%;")
											img(src="http://placehold.it/1240x1620/F00/FFF")
		
	//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="../aPRINT.js")
	script.
		var print = aPRINT('#template',{
			format: 'A3',
			//- editable: false,
			styles: ['../aPRINT.css','main.css'],
			mirror: true,
			dragImages: {
				'#left .image': 'http://hm/backnn/imgs/static/ui/image.svg'
			},
			template: {
				'first_page': {
					classes: ['page','A4','first'],
					children: {
						'header_container': {
							classes: ['header_container'],
							children: {
								'header': {
									classes: ['header','uppercase','border']
								},
								'list': {
									classes: ['list','border']
								}
							}
						},
						'first_ingress': {
							classes: ['ingress']
						},
						'first_body': {
							classes: ['body'],
							children: {
								'first_text_column': {
									classes: ['column','one_third'],
									children: {
										'first_texts': {
											classes: ['texts']
										}
									}
								},
								'first_image_column': {
									classes: ['column','two_thirds'],
									children: {
										'first_images': {
											classes: ['images']
										}
									}
								}
							}
						}
					}
				},
				'page': {
					classes: ['page','A4','second'],
					children: {
						'second_ingress': {
							classes: ['ingress']
						},
						'second_body': {
							classes: ['body','seond'],
							children: {
								'second_text_column': {
									classes: ['column','one_third'],
									children: {
										'second_texts': {
											classes: ['texts']
										}
									}
								},
								'second_image_column': {
									classes: ['column','two_thirds'],
									children: {
										'second_images': {
											classes: ['images']
										}
									}
								}
							}
						}
					}
				}
			},
			rules: {
				'.page:not(.first)': {
					repeatable: true
				},
				'.header': {
					accept: '#left .title',
					replaceable: true,
					removable: true
				},
				'.list': {
					accept: '#left .list',
					replaceable: true,
					removable: true
				},
				'.texts': {
					accept: '#left .text',
					overflow: 'continue',
					removable: true
				},
				'.ingress': {
					accept: '#left .text',
					removable: true
				},
				'.images': {
					accept: ['#left .image','#left .text'],
					overflow: 'shrinkLast',
					classes: ['left','middle','right'],
					removable: true,
					sortable: true
				}
			}
		});
		print.on('update', function(e) {
			//- console.log(print.get());
		});