body .page.A4 {
  font-size: 0;
}
body .page.A4 .header,
body .page.A4 .left_column,
body .page.A4 .right_column {
  font-size: 13pt;
  line-height: 18pt;
}
body .page.A4 .header {
  font-family: sans-serif;
  height: 10%;
  background: #008000;
  width: 100%;
  padding: 6mm;
  font-size: 20pt;
  font-weight: 700;
}
body .page.A4 .left_column,
body .page.A4 .right_column {
  height: 90%;
}
body .page.A4 .left_column {
  width: 33.333333333333336%;
}
body .page.A4 .left_column .texts {
  height: 100%;
  padding: 0 4mm 0 0;
}
body .page.A4 .right_column {
  width: 66.66666666666667%;
}
body .page.A4 .right_column .images {
  height: 100%;
}
body .page.A4 .right_column .images .image img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
body .page.A4 .right_column .images .image.left img,
body .page.A4 .right_column .images .image.right img,
body .page.A4 .right_column .images .image.middle img {
  max-width: 50%;
}
body .page.A4 .right_column .images .image.right {
  text-align: right;
}
body .page.A4 .right_column .images .image.middle {
  text-align: center;
}
body .page.A4.odd .left_column,
body .page.A4.odd .right_column {
  float: left;
}
body .page.A4.even .left_column,
body .page.A4.even .right_column {
  float: right;
}
