vendor(prop,args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

sans-serif()
	font-family sans-serif

// pt = .3527778
// pageWidth = 90

// @media print
	// pageWidth = 100

// A4 w/h
// a4width = 210
// a4height = 297
// mm = ((100/a4width)*(pageWidth/100))
// pt = mm*pt

body
	
	.page
		display flex
		flex-direction column
		padding 6mm
		&.A4
			#header
			#ingress
			#body
				font-size 13pt
				line-height 18pt
			#header
				sans-serif()
				// height 10%
				background green
				width 100%
				padding 6mm
				display flex
				flex-direction row
				.header
				.list
					min-height 1.5em
					font-size 20pt
					line-height 1.5em
					font-weight 700
				.header
					width ((100/3)*2)%
				.list
					width (100/3)%
			#ingress
				min-height 1.5em
			#body
				background rgba(255,0,0,.24)
				flex 1
				display flex
				flex-direction row
				.left_column
				.right_column
					position relative
				.left_column
					// background red
					width (100/3)%
				.right_column
					// background green
					width ((100/3)*2)%
				.texts
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					padding 0 4mm 0 0
				.images
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					.image
						img
							max-width 100%
							height auto
							max-height 100%
						&.left
						&.right
						&.middle
							img
								max-width 50%
						&.right
							text-align right
						&.middle
							text-align center
			&.even
				#body
					flex-direction row-reverse