vendor(prop,args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

sans-serif-light()
	font-family 'Akkurat-Web', sans-serif
	font-weight 300
sans-serif()
	font-family 'Akkurat-Web', sans-serif
sans-serif-bold()
	font-family 'Akkurat-Web', sans-serif
	font-weight 600

monospace()
	font-family monospace

// pt = .3527778
// pageWidth = 90

// @media print
	// pageWidth = 100

// A4 w/h
a4width = 210
a4height = 297
// mm = ((100/a4width)*(pageWidth/100))
// pt = mm*pt

body
	sans-serif-light()
	ul
		list-style-type none
	ol
		list-style-position inside
	strong
		sans-serif-bold()
	.page
		position relative
		display flex
		flex-direction column
		padding 11mm 18mm 8mm 18mm
		font-size 0
		.header_container
		.ingress_container
		.body_container
			position relative
			min-height 0
		&.A4
			.image
				display flex
				flex-direction column
				padding-bottom 3mm
				font-size 8.7pt
				line-height 12pt
				>*
					min-width 0
					max-width 100%
					min-height 0
				img
					max-width 100%
					height auto
					max-height 100%
					width auto
				&.medium
					max-width 68%
				&.slim
					max-width 50%
			.columns
				flex 1 0 auto
				display flex
				flex-direction row
				max-width 100%
				.column
					width 100%
					padding 0 0 0 2mm
					&.half
						width 50%
					&.two_thirds
						flex-shrink 0
						width 98mm
					&.two_thirds
						flex-shrink 0
						width 98mm
					&.border
						border-right .25pt solid black
			.timestamp
				monospace()
				position absolute
				padding 2mm 0
				font-size 8.7pt
				transform-origin top left
				transform rotate(90deg)
			.header_container
				flex 0 0 auto
				.header
					display inline-block
					min-height 16mm
					text-transform uppercase
			.ingress_container
			.body_container
				flex 1 1 auto
				.content
				.list
					font-size 10.7pt
					line-height 15pt
			.body_container
				display flex
				flex 1 99 auto
				height 100%
		&.project
		&.theory
			.header_container
				.header
					min-width ((100/3)*2)%
					padding 3.5mm 3.5mm 2.5mm
					font-size 39pt
					line-height 38pt
					border .25pt solid black
			.ingress_container
			.body_container
				.content
				.list
					min-height 5em
				.content
					p
					ul
						padding-bottom 1em
					.image
						padding-bottom 3mm
						&:last-child
							padding-bottom 0 !important
		&.project
		&.info
			.ingress_container
				.content
					max-height 80%
		&.theory
			// .body_container
			// 	.content
			// 		height 100%
		&.info
			.header_container
				margin-bottom 11mm
				.header
					width 100%
			.ingress_container
				z-index 1
				.content
					margin-bottom -11mm
					padding-bottom 11mm
					.image
					.paragraph
						padding-bottom 6mm

	.cover
		text-align right
		.page
			display inline-block
			text-align left
			padding 8.75mm 7.75mm 8.75mm 9.75mm !important
			ul
				li
					margin 2.25mm
					padding 7.5mm 6mm 6mm
					list-style-type none
					font-size 42pt
					line-height 43pt
					text-transform uppercase
					display inline-block
					border .25pt solid black
					span
						display inline-block
			.logo
			.imprint
				position absolute
				left 12.5mm
				bottom 6mm
				font-size 8pt
			.logo
				background-image url('/backnn/imgs/static/HM_Bildm_Trans.svg')
				background-size contain
				background-repeat no-repeat
				background-position left bottom
				width 41mm
				height 35mm
			&.back
				display none
			


@media print
	body
		.cover
			.page
				&.back
					display inline-block
		&.A4
			.cover
				width (a4width)mm
		&.A3
			.cover
				width (a4width*2)mm