sans-serif()
	font-family sans-serif

pt = .3527778

body
	
	.page
		&.A4
			font-size 0
			.header
			.left_column
			.right_column
				font-size (10*pt)rem
			.header
				sans-serif()
				height 10%
				padding 6rem
				font-size (20*pt)rem
				font-weight 700
			.left_column
			.right_column
				height 90%
				display inline-block
				vertical-align top
			.left_column
				// background red
				width (100/3)%
				.texts
					height 100%
					padding 0 4rem 0 0
			.right_column
				// background green
				width ((100/3)*2)%
				.images
					height 100%
					img
						width 100%
						height auto