body {
  font-family: 'Akkurat-Web', sans-serif;
  font-weight: 300;
}
body ul {
  list-style-type: none;
}
body ol {
  list-style-position: inside;
}
body strong {
  font-family: 'Akkurat-Web', sans-serif;
  font-weight: 600;
}
body .page {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 11mm 18mm 8mm 18mm;
  font-size: 0;
}
body .page .header_container,
body .page .ingress_container,
body .page .body_container {
  position: relative;
  min-height: 0;
}
body .page.A4 .image {
  display: flex;
  flex-direction: column;
  padding-bottom: 3mm;
  font-size: 8.7pt;
  line-height: 12pt;
}
body .page.A4 .image >* {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
}
body .page.A4 .image img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: auto;
}
body .page.A4 .image.medium {
  max-width: 68%;
}
body .page.A4 .image.slim {
  max-width: 50%;
}
body .page.A4 .columns {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
body .page.A4 .columns .column {
  width: 100%;
  padding: 0 0 0 2mm;
}
body .page.A4 .columns .column.half {
  width: 50%;
}
body .page.A4 .columns .column.two_thirds {
  flex-shrink: 0;
  width: 98mm;
}
body .page.A4 .columns .column.two_thirds {
  flex-shrink: 0;
  width: 98mm;
}
body .page.A4 .columns .column.border {
  border-right: 0.25pt solid #000;
}
body .page.A4 .timestamp {
  font-family: monospace;
  position: absolute;
  padding: 2mm 0;
  font-size: 8.7pt;
  transform-origin: top left;
  transform: rotate(90deg);
}
body .page.A4 .header_container {
  flex: 0 0 auto;
}
body .page.A4 .header_container .header {
  display: inline-block;
  min-height: 16mm;
  text-transform: uppercase;
}
body .page.A4 .ingress_container,
body .page.A4 .body_container {
  flex: 1 1 auto;
}
body .page.A4 .ingress_container .content,
body .page.A4 .body_container .content,
body .page.A4 .ingress_container .list,
body .page.A4 .body_container .list {
  font-size: 10.7pt;
  line-height: 15pt;
}
body .page.A4 .body_container {
  display: flex;
  flex: 1 99 auto;
  height: 100%;
}
body .page.project .header_container .header,
body .page.theory .header_container .header {
  min-width: 66.66666666666667%;
  padding: 3.5mm 3.5mm 2.5mm;
  font-size: 39pt;
  line-height: 38pt;
  border: 0.25pt solid #000;
}
body .page.project .ingress_container .content,
body .page.theory .ingress_container .content,
body .page.project .body_container .content,
body .page.theory .body_container .content,
body .page.project .ingress_container .list,
body .page.theory .ingress_container .list,
body .page.project .body_container .list,
body .page.theory .body_container .list {
  min-height: 5em;
}
body .page.project .ingress_container .content p,
body .page.theory .ingress_container .content p,
body .page.project .body_container .content p,
body .page.theory .body_container .content p,
body .page.project .ingress_container .content ul,
body .page.theory .ingress_container .content ul,
body .page.project .body_container .content ul,
body .page.theory .body_container .content ul {
  padding-bottom: 1em;
}
body .page.project .ingress_container .content .image,
body .page.theory .ingress_container .content .image,
body .page.project .body_container .content .image,
body .page.theory .body_container .content .image {
  padding-bottom: 3mm;
}
body .page.project .ingress_container .content .image:last-child,
body .page.theory .ingress_container .content .image:last-child,
body .page.project .body_container .content .image:last-child,
body .page.theory .body_container .content .image:last-child {
  padding-bottom: 0 !important;
}
body .page.project .ingress_container .content,
body .page.info .ingress_container .content {
  max-height: 80%;
}
body .page.info .header_container {
  margin-bottom: 11mm;
}
body .page.info .header_container .header {
  width: 100%;
}
body .page.info .ingress_container {
  z-index: 1;
}
body .page.info .ingress_container .content {
  margin-bottom: -11mm;
  padding-bottom: 11mm;
}
body .page.info .ingress_container .content .image,
body .page.info .ingress_container .content .paragraph {
  padding-bottom: 6mm;
}
body .cover {
  text-align: right;
}
body .cover .page {
  display: inline-block;
  text-align: left;
  padding: 8.75mm 7.75mm 8.75mm 9.75mm !important;
}
body .cover .page ul li {
  margin: 2.25mm;
  padding: 7.5mm 6mm 6mm;
  list-style-type: none;
  font-size: 42pt;
  line-height: 43pt;
  text-transform: uppercase;
  display: inline-block;
  border: 0.25pt solid #000;
}
body .cover .page ul li span {
  display: inline-block;
}
body .cover .page .logo,
body .cover .page .imprint {
  position: absolute;
  left: 12.5mm;
  bottom: 6mm;
  font-size: 8pt;
}
body .cover .page .logo {
  background-image: url("/backnn/imgs/static/HM_Bildm_Trans.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 41mm;
  height: 35mm;
}
body .cover .page.back {
  display: none;
}
@media print {
  body .cover .page.back {
    display: inline-block;
  }
  body.A4 .cover {
    width: 210mm;
  }
  body.A3 .cover {
    width: 420mm;
  }
}
