* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  font-size: 12pt;
}
body #aPRINT {
  background: #808080;
}
body #aPRINT .over {
  background: #94ff94;
}
body #aPRINT .removable {
  position: relative;
}
body #aPRINT .removable .remove {
  font-family: sans-serif;
  background: #fff;
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 3px 7px;
  font-size: 1rem;
  font-weight: 100;
  color: #000;
  cursor: pointer;
}
body #aPRINT .removable .remove:hover {
  background: #c20000;
  color: #fff;
}
body #aPRINT .page {
  background: #fff;
  margin: 2mm auto;
}
body #aPRINT .page.A4 {
  width: 210mm;
  height: 297mm;
  padding: 15mm 20mm;
}
