* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  overflow: hidden;
}
body {
  background: transparent;
}
body .over {
  background: #94ff94;
}
body .removable {
  position: relative;
}
body .removable .remove {
  font-family: sans-serif;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 25px;
  height: 25px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  font-weight: 100;
}
body .removable .remove a {
  color: #000;
}
body .removable .remove:hover {
  background-color: #c20000;
  color: #fff;
}
body .removable .remove:hover a {
  color: #fff;
}
body .removable .remove.active {
  background-color: #c20000;
  color: #fff;
}
body .removable .remove.active a {
  color: #fff;
}
body .nodrop {
  background: #f00;
}
body .fade {
  transition: background 0.8s;
}
body .classable .classes {
  position: absolute;
  top: 6px;
  left: 6px;
  text-align: left;
}
body .classable .classes .expander {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  width: 25px;
  height: 25px;
  line-height: 28px;
  text-align: center;
}
body .classable .classes .expander a {
  color: #000;
}
body .classable .classes .expander:hover {
  background-color: #c20000;
  color: #fff;
}
body .classable .classes .expander:hover a {
  color: #fff;
}
body .classable .classes .expander.active {
  background-color: #c20000;
  color: #fff;
}
body .classable .classes .expander.active a {
  color: #fff;
}
body .classable .classes .list {
  display: none;
}
body .classable .classes .list .item {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  padding: 6px 8px;
}
body .classable .classes .list .item a {
  color: #000;
}
body .classable .classes .list .item:hover {
  background-color: #000;
  color: #fff;
}
body .classable .classes .list .item:hover a {
  color: #fff;
}
body .classable .classes .list .item.active {
  background-color: #000;
  color: #fff;
}
body .classable .classes .list .item.active a {
  color: #fff;
}
body .classable .classes:hover .expander {
  display: none;
}
body .classable .classes:hover .list {
  display: block;
}
body .page {
  page: StandardPage;
  position: relative;
  width: 210mm;
  height: 297mm;
  background: #fff;
  margin: 4mm 4mm 52px;
  box-shadow: 0 0 6mm 1mm rgba(0,0,0,0.2);
}
body .add_page {
  cursor: pointer;
  background-color: rgba(255,255,255,0.12);
  color: #000;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 60%;
  margin: 12px auto;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
body .add_page a {
  color: #000;
}
body .add_page:hover {
  background-color: #fff;
  color: #000;
}
body .add_page:hover a {
  color: #000;
}
body .add_page.active {
  background-color: #fff;
  color: #000;
}
body .add_page.active a {
  color: #000;
}
@page StandardPage {
  size: 210mm 297mm;
  margin: 0;
  padding: 0;
  @bottom-left {
    content: 'number';
  }
}
@media print {
  html,
  body {
    width: 210mm;
    height: 296mm;
  }
  body {
    transform: scale(1) !important;
  }
  body .page {
    margin: initial;
    padding: initial;
    border: initial;
    border-radius: initial;
    width: initial;
    height: initial;
    box-shadow: initial;
    page-break-inside: avoid;
    page-break-after: always;
  }
  body .remove,
  body .classes,
  body .add_page {
    display: none;
  }
  body img {
    image-resolution: from-image;
  }
}
