vendor(prop,args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

clickable($bg,$bg2=0,$colour=0,$colour2=0)
	cursor pointer
	background-color $bg
	if $colour != 0
		color $colour
		a
			color $colour
	&:hover
		if $bg2 == 0
			background-color $bg
		else
			background-color $bg2
		if $colour2 != 0
			color $colour2
			a
				color $colour2
	&.active
		if $bg2 == 0
			background-color $bg
		else
			background-color $bg2
		if $colour2 != 0
			color $colour2
			a
				color $colour2

sans-serif()
	font-family sans-serif

pt = .3527778
pageWidth = 90

// A4 w/h
a4width = 210
a4height = 297
a4mm = ((100/a4width)*(pageWidth/100))

*
	vendor(box-sizing, border-box)
	margin 0
	padding 0
	outline none

html
	// font-size (a4mm)vw
	overflow-x hidden

body
	background transparent
	
	.over
		background lighten(green,72%)
	
	.removable
		position relative
		.remove
			sans-serif()
			clickable white, darken(red,24%), black, white
			position absolute
			top 6px
			right 6px
			width 25px
			height 25px
			font-size 13px
			line-height 24px
			text-align center
			font-weight 100
	
	.nodrop
		background red
	.fade
		transition background .8s
	
	.classable
		.classes
			position absolute
			top 6px
			left 6px
			text-align left
			.expander
				clickable white, darken(red,24%), black, white
				width 25px
				height 25px
				line-height 28px
				text-align center
			.list
				display none
				.item
					clickable white, black, black, white
					padding 6px 8px
			&:hover
				.expander
					display none
				.list
					display block

	.page
		page StandardPage
		position relative
		width 210mm
		height 297mm
		background white
		// width (pageWidth)vw
		margin 4mm 4mm 52px
		box-shadow 0 0 6mm 1mm rgba(0,0,0,.2)
		&.A4
			// height ((a4height/a4width)*pageWidth)vw
			// .header
			// 	background green
			// 	width 210rem
	
	.add_page
			clickable rgba(255,255,255,.12), white, black, black
			position absolute
			bottom -50px
			left 0
			right 0
			width 60%
			margin 12px auto
			font-size 18px
			line-height 1.4
			text-align center

@page StandardPage
	size 210mm 297mm
	@bottom-left
		content 'number'
	margin 0
	padding 0
	
@media print
	html
	body
		width 210mm
		height 296mm
		// font-size 1mm !important
	body
		transform scale(1) !important
		.page
			margin initial
			padding initial
			border initial
			border-radius initial
			width initial
			height initial
			box-shadow initial
			page-break-inside avoid
			page-break-after always
		.remove
		.classes
		.add_page
			display none
		img
			image-resolution from-image
