vendor(prop,args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

sans-serif()
	font-family sans-serif

pt = .3527778
pageWidth = 90

// A4 w/h
a4width = 210
a4height = 297
a4mm = ((100/a4width)*(pageWidth/100))

*
	vendor(box-sizing, border-box)
	margin 0
	padding 0
	outline none

html
	font-size (a4mm)vw

body
	background gray
	
	.over
		background lighten(green,72%)
	
	.removable
		position relative
		.remove
			sans-serif()
			background white
			position absolute
			top 6px
			right 6px
			width 25px
			height 25px
			font-size 13px
			line-height 24px
			text-align center
			font-weight 100
			color black
			cursor pointer
			&:hover
				background darken(red,24%)
				color white
	.nodrop
		background red
	.fade
		transition background .8s

	.page
		background white
		width (pageWidth)vw
		margin 4rem auto
		&.A4
			height ((a4height/a4width)*90)vw
			// .header
			// 	background green
			// 	width 210rem

@media print
	html
		font-size (12*pt)mm
		body
			.page
				&.A4
					width (a4width)mm
					height (a4height)mm