vendor(prop,args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

clickable($bg,$bg2=0,$colour=0,$colour2=0)
	cursor pointer
	background-color $bg
	if $colour != 0
		color $colour
		a
			color $colour
	&:hover
		if $bg2 == 0
			background-color $bg
		else
			background-color $bg2
		if $colour2 != 0
			color $colour2
			a
				color $colour2
	&.active
		if $bg2 == 0
			background-color $bg
		else
			background-color $bg2
		if $colour2 != 0
			color $colour2
			a
				color $colour2

sans-serif()
	font-family sans-serif

pt = .3527778
pageWidth = 90

// A4 w/h
a4width = 210
a4height = 296
a4mm = ((100/a4width)*(pageWidth/100))

*
	vendor(box-sizing, border-box)
	margin 0
	padding 0
	outline none

html
	// font-size (a4mm)vw
	overflow-x hidden

body
	background transparent
	font-size 0
	transition transform .2s
	width (a4width+8)mm
	transform-origin 50% 0
	
	.drag
		// background red
		// position relative
		// width auto
		// height auto
		// max-width 280px
		// max-height 280px

	.potential
		position relative
		&:before
			background repeating-linear-gradient(
				45deg,
				#FFF,
				#FFF 3mm,
				#F6F6F6 3mm,
				#F6F6F6 6mm
			)
			content ''
			position absolute
			top -1mm
			left -1mm
			right -1mm
			bottom -1mm
			// border 1px dotted #CCC
		&.over
			&:before
				background repeating-linear-gradient(
					45deg,
					#FFF,
					#FFF 3mm,
					#DED 3mm,
					#DED 6mm
				)
				content ''
	.over
		background #EEE
	
	[data-item]
		position relative

	.remove
		sans-serif()
		clickable white, darken(red,24%), black, white
		position absolute
		top 6px
		right 6px
		width 25px
		height 25px
		font-size 13px
		line-height 24px
		text-align center
		font-weight 100
		border 1px solid black
	
	.nodrop
		background red
	.fade
		transition background .8s
	
	[data-class-list]
		.classes
			position absolute
			top 6px
			left 6px
			text-align left
			.expander
				clickable white, darken(red,24%), black, white
				width 25px
				height 25px
				line-height 28px
				text-align center
				border 1px solid black
			.list
				display none
				.item
					clickable white, black, black, white
					padding 6px 8px
			&:hover
				.expander
					display none
				.list
					display block

	section
		.page
			// page StandardPage
			position relative
			width (a4width)mm
			height (a4height)mm
			background white
			// width (pageWidth)vw
			margin 4mm 4mm 52px
			box-shadow 0 0 6px 2px rgba(0,0,0,.16)
			&.A4
				// height ((a4height/a4width)*pageWidth)vw
				// .header
				// 	background green
				// 	width 210rem
	
	.add_page
		clickable rgba(255,255,255,.12), white, black, black
		position absolute
		flex none
		bottom -50px
		left 0
		right 0
		width 60%
		margin 12px auto
		font-size 18px
		line-height 1.4
		text-align center

@page
	margin 0
// 	size (a4width*2)mm (a4height)mm
// 	@bottom-left
// 		content 'number'
// 	padding 0
	
@media print
	body
		width auto
		margin 0 !important
		transform scale(1) !important
		section
			page-break-after always
			.page
				margin 0
				// padding 0
				border none
				box-shadow none
				page-break-inside avoid
				overflow hidden
				&.A4
					width (a4width)mm
					height (a4height)mm
				&.A3
					width (a4width*2)mm
					height (a4height)mm
		.remove
		.classes
		.add_page
			display none
		img
			// image-resolution from-image
		&.A4
			width (a4width)mm
			height (a4height)mm
		&.A3
			width (a4width*2)mm
			height (a4height)mm
			section
				.page
					display inline-flex
					vertical-align top

